.petImage {
  max-width: 500px;
  img {
    width: 100%;
  }
}

.linkContainer {
  width: 100%;
  display: flex;
  justify-content: left;
}

.petData {
  display: flex;
  flex-direction: column;
  align-items: center;
}
